<div><h2>todo <button routerLink="/todo/add">+</button> </h2>
</div>
<table>
  <tr>
    <td>OPEN</td>
    <td>ID</td>
    <td>TASK</td>
    <td>CATEGORY</td>
    <td>PRIORITY</td>
    <td>OWNER</td>
    <td>DUE</td>
    <td>LOCATIONXY</td>
    <td>STATUS</td>
    <td>DESCRIPTION</td>
    <td>DEL</td>
  </tr>
  <tr *ngFor="let todo of todos">
    <td><button routerLink="/todo-detail/{{todo.id}}">o</button></td>
    <td>{{todo.id}}</td>
    <td>{{todo.task}}</td>
    <td>{{todo.category}}</td>
    <td>{{todo.priority}}</td>
    <td>{{todo.owner}}</td>
    <td>{{todo.due}}</td>
    <td>{{todo.locationxy}}</td>
    <td>{{todo.status}}</td>
    <td>{{todo.description}}</td>
    <td><button (click)="delete(todo.id)">x</button></td>
  </tr>
</table>
