<div><h2>todo <button routerLink="/todo/add">+</button> </h2>
</div>

<div *ngIf="show_selected_date"><h2>TODOS VOOR: {{selected_date | customDate}}</h2></div>
<table>
  <tr>
    <td>OPEN</td>
    <td>ID</td>
    <td>TASK</td>
    <td>PLANNEDTYPE</td>
    <td>CONTEXT</td>
    <td>PRIORITY</td>
    <td>USER</td>
    <td>DUEDATE</td>
    <td>LOCATIONXY</td>
    <td>STATUS</td>
    <td>DESCRIPTION</td>
    <td>DEL</td>
  </tr>
  <tr *ngFor="let todo of todos">
    <td><button routerLink="/todo-detail/{{todo.id}}">o</button></td>
    <td>{{todo.id}}</td>
    <td>{{todo.task}}</td>
    <td>{{todo.plannedtype}}</td>
    <td>{{todo.context}}</td>
    <td>{{todo.priority}}</td>
    <td>{{todo.user.fullname}}</td>
    <td>{{todo.duedate | customDate}}</td>
    <td>{{todo.locationxy}}</td>
    <td>{{todo.status}}</td>
    <td>{{todo.description}}</td>
    <td><button (click)="delete(todo.id)">x</button></td>
  </tr>
</table>
