table {
  border-width: 2px;
  border-style: solid;
  border-color: darkgrey;
  width: 100%;
}

tr.done {
  background-color: green;

}

tr.open {
  background-color: yellow;
}

tr.critical {
  background-color: red;
}
