<div *ngIf="todo">
  <h2>{{todo.task | uppercase}}</h2>
  <table>
    <tr>
      <td><label for="todo-id">id: </label></td>
      <td><input id="todo-id" [(ngModel)]="todo.id" placeholder="id"></td>
    </tr>
    <tr>
      <td><label for="todo-task">Taak: </label></td>
      <td><input id="todo-task" [(ngModel)]="todo.task" placeholder="task"></td>
    </tr>
    <tr>
      <td><label for="todo-task">Gepland: </label></td>
      <td><input type="checkbox" [(ngModel)]="todo.plannedtype" name="plannedtype" placeholder="plannedtype"></td>
    </tr>
    <tr>
      <td><label for="todo-priority">Prioriteit: </label></td>
      <td>
        <select [(ngModel)]="todo.priority" id="todo-priority" name="priority" placeholder="priority">
          <option value=""></option>
          <option *ngFor="let prio of priosArray" [value]="prio[0][0]">{{prio[0][0]}}</option>
<!--          <option value="Hoog">Hoog</option>-->
<!--          <option value="Midden">Midden</option>-->
<!--          <option value="Laag">Laag</option>-->
        </select>
    </td>
    </tr>
    <tr>
      <td><label for="todo-category">Context: </label></td>
      <td>
        <select [(ngModel)]="todo.context" id="todo-category" name="context">
          <option value=""></option>
          <option value="Huis">Huis</option>
          <option value="Tuin">Tuin</option>
          <option value="Keuken">Keuken</option>
          <option value="Kantoor">Kantoor</option>
          <option value="Administratie">Administratie</option>
          <option value="Werk">Werk</option>
          <option value="Schuur">Schuur</option>
          <option value="Kas">Tunnelkas</option>
          <option value="Groentetuin">Groentetuin</option>
          <option value="Bonustuin">Bonustuin</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="todo-owner">Eigenaar: </label></td>
      <td><input id="todo-owner" [(ngModel)]="todo.owner" placeholder="owner"></td>
    </tr>
    <tr>
      <td><label for="todo-locationxy">Locatie X/Y: </label></td>
      <td><input id="todo-locationxy" [(ngModel)]="todo.locationxy" placeholder="locationxy"></td>
    </tr>
    <tr>
      <td><label for="todo-duedate">Einddatum: </label></td>
      <td><input id="todo-duedate" [(ngModel)]="todo.duedate" placeholder="duedate"></td>
    </tr>
    <tr>
      <td><label for="todo-status">Status: </label></td>
      <td>
        <select [(ngModel)]="todo.status" id="todo-status" name="status">
        <option value=""></option>
        <option value="Nieuw">Nieuw</option>
        <option value="Gepland">Gepland</option>
        <option value="Bezig">Bezig</option>
        <option value="Gepauzeerd">Gepauzeerd</option>
        <option value="Gedaan">Gedaan</option>
        <option value="Gearchiveerd">Gearchiveerd</option>
      </select>
    </td>
    </tr>
    <tr>
      <td><label for="todo-description">Omschrijving: </label></td>
      <td><input id="todo-description" [(ngModel)]="todo.description" placeholder="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="save()">Save</button></td>
    </tr>
  </table>
</div>
